services:
    - Nette\Caching\Storages\FileStorage('../temp')
orm:
    event:
        modelClassName: Fykosak\NetteORM\Tests\ORM\ModelEvent
        serviceClassName: Fykosak\NetteORM\Tests\ORM\ServiceEvent
    participant:
        model: Fykosak\NetteORM\Tests\ORM\ModelParticipant
        service: Fykosak\NetteORM\Tests\ORM\ServiceParticipant

includes:
    - config.local.neon
